<% users.each do |user| %>
<div class="row py-1 my-1">
  <div class="col-sm-2">
  <%= image_tag user.get_profile_image(80,80) %>
  </div>
  <div class="col-sm-7">
    <div class="row">
      <%= link_to user.name, user_path(user) %>
    </div>
    <div class="row">
      <%= user.introduction %>
    </div>
  </div>
  <div class="col-sm-2 mt-1">
  <% unless user == current_user %>
    <div id= "relationship_buttons_<%= user.id %>">
      <%= render "public/relationships/relationship", user: user %>
    </div>
  <% end %>
  </div>
</div>
<% end %>