<% unless @hobby == nil %>
  <div class="container text-center wrap">
    <%= flash[:notice] %>
    <h2>趣味が押し付けられました！</h2>
    <p>[ToDoリストに追加されます]</p>
    <div class="row my-3 mx-5 p-1" style="background-color: #d4ecea;">
      <div class="col-2 text-right mt-1">
        <%= image_tag @hobby.user.get_profile_image(80,80) %>
      </div>
      <div class="col-2 col-sm-2 text-left">
       <h4><%= link_to @hobby.user.name, user_path(@hobby.user.id) %></h4>
      </div>
      <div class="col-8 col-sm-8 text-left p-2">
        <div class="row">
          <h5 class="col-5"><%= link_to "#{@hobby.title}", hobby_path(@hobby) %></h5>
          <div class="col-4 d-flex">
            <%= render "stars/star_average", hobby: @hobby %>
          </div>
          <div class="col-3 text-center">
            <%= link_to genre_path(@hobby.genre.id), class: "btn btn-outline-info rounded-pill" do %>
            <i class="fas fa-tag"></i>
            <%= @hobby.genre.genre_name %>
            <% end %>
          </div>
        </div>
        <div class="row" style="width: 100%;">
          <!--ユーザーのつけた段落を反映-->
          <%= safe_join(@hobby.body.split("\n"),tag(:br)) %>
        </div>
        <div class="row">
          <% @hobby.hobby_images.each do |hobby_image| %>
          <%= image_tag(hobby_image, width:100, height:100 )%>
          <% end %>
        </div>
        <div class="row mt-1">
          <div class="col-4" id="favorite_buttons_<%= @hobby.id %>">
            <%= render "public/favorites/favorite", hobby: @hobby %>
          </div>
          <div class="col-4" id="todo_buttons_<%= @hobby.id %>">
          <%= render "public/to_does/to_do", hobby: @hobby %>
          </div>
          <div class= "col-2 text-right" style="opacity: 0.5;">
            <%= @hobby.how_long_ago %>
          </div>
          <% if @hobby.user.id == current_user.id %>
          <div class="col-1">
            <%= link_to edit_hobby_path(@hobby), style: "right: 5px;" do %>
            <i class="fas fa-cogs"></i>
            <% end %>
          </div>
          <div class="col-1">
            <%= link_to hobby_path(@hobby), method: :delete, style: "right: 5px;", data: { confirm: "【確認】趣味を削除してもよろしいですか？" } do %>
            <i class="fas fa-trash fa-lg"></i>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <h3>できそうだったら一度やってみよう</h3>
  </div>
<% end %>