<div class="container text-center wrap">
  <%= render "public/hobbies/hobby_display", hobby: @hobby %>
  <h5 class="alert alert-info border border-dark text-center">コメント一覧</h5>
  <%= render "public/hobby_comments/comments_index", comments: @comments %>
  <%= paginate @comments, theme: 'twitter-bootstrap-4' %>
</div>
<!-- Button trigger modal -->
<%= render "public/hobby_comments/comment_form" %>
<% unless @hobby.done_by?(current_user) %>
<%= render "public/hobby_comments/done_form" %>
<% end %>