<div class="container p-5">
  <div class="row px-5">
    <% @tags.each do |tag|%>
      <%= link_to admin_tag_path(tag), class: "btn btn-outline-info rounded-pill m-1" do %>
        <i class="fas fa-tag"></i>
        <%= tag.tag_name %>
      <% end %>
      <%= link_to admin_tag_path(tag), method: :delete, class: "mr-2" do %>
        <i class="fas fa-trash fa-sm"></i>
      <% end %>
    <% end %>
    <div class="bottom_btn">
    <h3>新規タグ作成</h3>
    <p>(15文字以内)</p>
    <%= form_with model: Tag, url: admin_tags_path, class: "form-inline", local: true do |f| %>
      <%= f.text_field :tag_name, placeholder: "タグ", class: "form-control mr-2" %>
      <%= f.submit "追加する", class:"btn btn-primary", size:30 %><br>
    <% end %>
    </div>
    <%= paginate @tags, theme: 'twitter-bootstrap-4' %>
  </div>
</div>