if (<%= @tag.tag_name %>empty?){
閉じない
}else if (Arrays.asList(<%= @tag %>).contains("<%= @tag.tag_name %>")){
<!--ポップアップを消す-->
$("#new-tag-form").fadeOut(300);
<!--フォームの内容を削除-->
$("#tag_tag_name").val("");

$("#tag-select").val("<%= @tag.name %>");
}else{
<!--ポップアップを消す-->
$("#new-tag-form").fadeOut(300);
<!--フォームの内容を削除-->
$("#tag_tag_name").val("");
<!--作成したタグを追加-->
$("#tag-select").append('<option value="<%= @tag.id %>"><%= @tag.tag_name %></option>');
<!--作成したタグを選択した状態にする-->
$("#tag-select").val("<%= @tag.id %>");
}