<div class="container px-5">
  <% if @range == "ユーザー" %>
    <h2 class="text-center">"<%=@word %>"のユーザー検索結果</h2>
    <% if admin_signed_in? %>
      <%= render "admin/users/index", users: @users %>
    <% else %>
      <%= render "public/users/index", users: @users %>
    <% end %>
    <%= paginate @users, theme: 'twitter-bootstrap-4' %>
  <% else %>
    <h2 class="text-center">"<%=@word %>"の趣味検索結果</h2>
    <% if admin_signed_in? %>
      <% @hobbies.each do |hobby| %>
        <%= render "admin/hobbies/hobby_display", hobby: hobby %>
      <% end %>
    <% else %>
      <% @hobbies.each do |hobby| %>
        <%= render "public/hobbies/hobby_display", hobby: hobby %>
      <% end %>
    <% end %>
    <%= paginate @hobbies, theme: 'twitter-bootstrap-4' %>
  <% end %>
</div>