<div class= "container text-center wrap">
  <div class= "row my-3 border-color-blue">
    <div class="col-md-4 col-sm-2 mt-5">
      <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle border border-dark" %>
    </div>
    <div class= "col-md-5 col-sm-8 ml-0 margin-5">
      <h3><%= @user.name %></h3>
      <div class= "text-left">
      <% if @user.introduction.present? %>
      <%= @user.introduction %>
      <% else %>
      <div class= "text-center">まだ自己紹介はありません。残念。</div>
      <% end %>
      </div>
    </div>
    <div class= "col-md-2 col-sm-2 my-5">
      <% unless @user == current_user %>
        <div id= "relationship_buttons_<%= @user.id %>">
          <%= render "public/relationships/relationship", user: @user %>
        </div>
      <% end %>
    </div>
    <table class="table user_table">
      <tr>
        <td class="pull-right" id="follow_count_<%= @user.id %>">
        <%= render "public/relationships/follow_count", user: @user %>
        </td>
        <td><%= link_to "コメント一覧",hobby_comments_user_path(@user.id) %></td>
        <td><%= link_to "ナイス趣味一覧",favorites_user_path(@user.id) %></td>
        <td><%= link_to "やってみた趣味",done_index_user_path(@user.id) %></td>
        <td>
          <% if @user == current_user %>
            <%= link_to edit_user_path(@user.id), class:"btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <% if @hobbies.count == 0 %>
  <strong>まだ趣味の投稿がありません。乞うご期待！</strong>
  <% else %>
    <% @hobbies.each do |hobby| %>
      <%= render "public/hobbies/hobby_display", hobby: hobby %>
    <% end %>
  <% end %>
  <%= render "public/hobbies/create_btn" %>
</div>