<div class="container text-center">
  <%= flash[:notice] %>
  <div class="row my-3 mx-5" style="background-color: #d4ecea;">
    <div class="col-4 text-right my-5">
      <%= image_tag @user.get_profile_image(100,100) %>
    </div>
    <div class="col-5 ml-0 my-5">
      <table class="table table-border">
        <tr><h3><%= @user.name %></h3></tr>
        <% if @user.active_follow?(current_user) %>
        <tr>フォローされています</tr><br>
        <% end %>
        <tr><%= @user.introduction %></tr>
      </table>
    </div>
    <div class="col-3 my-5">
      <% unless @user == current_user %>
        <% if current_user.active_follow?(@user) %>
          <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class:"btn btn-sm btn-danger" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class:"btn btn-sm btn-success" %>
        <% end %>
      <% end %>
    </div>
    <table class="table">
      <tr>
        <td class="pull-right">
        <%= link_to active_follow_user_relationships_path(@user.id) do %>
        <%= @user.active_follows.count %>
        <% end %>
        フォロー中
        <%= link_to passive_follow_user_relationships_path(@user.id) do %>
        <%= @user.passive_follows.count %>
        <% end %>
        フォロワー
        </td>
        <td><%= link_to "コメント一覧",hobby_comments_user_path(@user.id) %></td>
        <td><%= link_to "ナイス趣味一覧",favorites_user_path(@user.id) %></td>
        <td>
          <% unless @user.name == "guestuser" %>
            <% if @user == current_user %>
              <%= link_to edit_user_path(@user.id), class:"btn btn-outline-secondary btn-block col-4" do %>
              <i class="fas fa-user-cog"></i>
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <% if @hobbies.count == 0 %>
  <strong>まだ趣味の投稿がありません。乞うご期待！</strong>
  <% else %>
  <%= render "public/hobbies/hobby_index", hobbies: @hobbies, favorite: @favorite %>
  <% end %>
  <div class="btn create_btn" style="background-color: #38b6ff;">
    <%= link_to new_hobby_path(current_user), class: "col-3", style: "text-decoration: none;" do %>
    <i class="fas fa-plus-circle"></i>
    <span class="text-light">
      趣味投稿
    </span>
    <% end %>
  </div>
</div>