<div class="top-color">
  <div class="row text-center">
    <div class="col-md-4 offset-md-4 search_form form-inline">
      <%= render "searches/searchform" %>
    </div>
    <div class="col-md-2 offset-md-2">
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg band-color p-0">
  <div class ="header_inner" data-toggle="tooltip" data-original-title="みんなの投稿一覧">
    <%= link_to image_tag("osituke2.png", size: '100x100', alt: "ositukeロゴ"),admin_hobbies_path %>
  </div>
  <button class="navbar-toggler col-1 offset-9 navbar-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item mx-auto" data-toggle="tooltip" data-original-title="みんなの投稿一覧"><%= link_to "趣味",          admin_hobbies_path,            class: "nav-link white" %></li>
      <li class="nav-item mx-auto" data-toggle="tooltip" data-original-title="月間ナイス趣味ランキング"><%= link_to "ランキング",rank_index_admin_hobbies_path, class: "nav-link white" %></li>
      <li class="nav-item mx-auto" data-toggle="tooltip" data-original-title="ジャンル絞り込み検索"><%= link_to "ジャンル",  admin_genres_path,             class: "nav-link white" %></li>
      <li class="nav-item mx-auto" data-toggle="tooltip" data-original-title="タグ絞り込み検索"><%= link_to "タグ",          admin_tags_path,               class: "nav-link white" %></li>
      <li class="nav-item mx-auto" data-toggle="tooltip" data-original-title="登録者一覧"><%= link_to "ユーザー",              admin_users_path,              class: "nav-link white" %></li>
    </ul>
  </div>
</nav>