<nav class="navbar navbar-expand-lg color1">
  <div class="navbar-collapse" >
    <div class = "header_inner">
      <% if admin_signed_in? %>
        <%= link_to image_tag("osituke_logo.png", size: '100x100', alt: "ositukeロゴ"),admin_hobbies_path %>
      <% elsif user_signed_in? %>
        <%= link_to image_tag("osituke_logo.png", size: '100x100', alt: "ositukeロゴ"),hobbies_path %>
      <% elsif request.fullpath.include? ("/admin") %>
        <%= link_to image_tag("osituke_logo.png", size: '100x100', alt: "ositukeロゴ"),admin_root_path %>
      <% else %>
        <%= link_to image_tag("osituke_logo.png", size: '100x100', alt: "ositukeロゴ"),root_path %>
      <% end %>
    </div>
    <ul class="navbar-nav ml-auto justify-content-center">
      <!--管理者がログインしていたら-->
      <% if admin_signed_in? %>
        <li>
          <%= link_to admin_tags_path, class: "nav-link mt-3" do %>
          タグ一覧
          <% end %>
        </li>
        <li>
          <%= link_to admin_hobbies_path, class: "nav-link mt-3" do %>
          趣味一覧
          <% end %>
        </li>
       <li>
        <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link mt-3" do %>
          ログアウト
        <% end %>
      </li>
      <!--ユーザーがログインしていたら-->
      <% elsif user_signed_in? %>
        <div class="search_form">
          <%= form_with url: searches_search_path, local: true, method: :get do |f| %>
            <%= f.select :range, options_for_select([['ユーザー'], ['趣味']]) %>
            <%= f.text_field :word %>
            <%= f.submit "検索" %>
          <% end %>
        </div>
        <li>
          <%= link_to tags_path, class: "nav-link mt-3" do %>
          タグ一覧
          <% end %>
        </li>
        <li>
          <%= link_to hobbies_path, class: "nav-link mt-3" do %>
          趣味一覧
          <% end %>
        </li>
        <li>
          <%= link_to user_path(current_user), class: "nav-link mt-3" do %>
            マイページ
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link mt-3" do %>
            ログアウト
          <% end %>
        </li>
      <!--ログイン前画面-->
      <% else %>
        <li>
          <%= link_to new_user_registration_path, class: "nav-link mt-3" do %>
            新規登録
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path, class: "nav-link mt-3" do %>
            ログイン
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>