<div class="top-color" style="height: 40%;">
  <% if admin_signed_in? %>
  <div class="row text-center">
    <div class="col"></div>
    <div class="col search_form">
      <%= form_with url: searches_search_path, local: true, method: :get do |f| %>
        <%= f.select :range, options_for_select([['ユーザー'], ['趣味']]) %>
        <%= f.text_field :word %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
    <div class="col">
    <%= link_to "ログアウト",destroy_admin_session_path, method: :delete %>
    </div>
  </div>
  <% elsif user_signed_in? %>
  <div class="row text-center">
    <div class="col"></div>
    <div class="col search_form">
      <%= form_with url: searches_search_path, local: true, method: :get do |f| %>
        <%= f.select :range, options_for_select([['ユーザー'], ['趣味']]) %>
        <%= f.text_field :word %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
    <div class="col">
    <%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
    </div>
  </div>
  <% elsif request.fullpath.include? ("/admin") %>

  <% else %>
  <div class="row text-center">
    <div class="col"></div>
    <div class="col">
      <%= link_to "ログイン",new_user_session_path %>
      <%= link_to "新規登録",new_user_registration_path %>
    </div>
  </div>
  <% end %>
</div>
<nav class="navbar navbar-expand-lg band-color" style="height: 40%;">
  <div class="navbar-collapse" >
    <div class = "header_inner">
      <% if admin_signed_in? %>
        <%= link_to image_tag("osituke2.png", size: '100x100', alt: "ositukeロゴ"),admin_hobbies_path %>
      <% elsif user_signed_in? %>
        <%= link_to image_tag("osituke2.png", size: '100x100', alt: "ositukeロゴ"),hobbies_path %>
      <% elsif request.fullpath.include? ("/admin") %>
        <%= link_to image_tag("osituke2.png", size: '100x100', alt: "ositukeロゴ"),admin_root_path %>
      <% else %>
        <%= link_to image_tag("osituke2.png", size: '100x100', alt: "ositukeロゴ"),root_path %>
      <% end %>
    </div>
    <ul class="navbar-nav mx-auto">
      <!--管理者がログインしていたら-->
      <% if admin_signed_in? %>
        <li><%= link_to "趣味一覧",admin_hobbies_path, class: "nav-link white" %></li>
        <li><%= link_to "タグ一覧",admin_tags_path, class: "nav-link white" %></li>
      <!--ユーザーがログインしていたら-->
      <% elsif user_signed_in? %>
        <li><%= link_to "趣味一覧",hobbies_path, class: "nav-link white" %></li>
        <li><%= link_to "ランキング",rank_index_hobbies_path, class: "nav-link white" %></li>
        <li><%= link_to "タグ一覧",tags_path, class: "nav-link white" %></li>
        <li><%= link_to "下書き",draft_index_hobbies_path, class: "nav-link white" %></li>
        <li><%= link_to "マイページ",user_path(current_user), class: "nav-link white" %></li>
        <li class= "my-auto">
          <%= link_to notifications_path do %>
            <% if unchecked_notifications.any? %>
            <span class="fa-stack">
              <i class="fa-regular fa-bell fa-stack-2x white"></i>
              <i class="fas fa-circle n-circle fa-stack-1x"></i>
            </span>
            <% else %>
              <i class="fa-regular fa-bell white"></i>
            <% end %>
          <% end %>
        </li>
      <!--ログイン前画面-->
      <% else %>
      OsitukeApp
      <% end %>
    </ul>
  </div>
</nav>