<div class="top-color">
  <div class="row text-center">
    <div class="col-4 offset-4 search_form">
      <%= render "searches/searchform" %>
    </div>
    <div class="col-2 offset-2">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg band-color p-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon white"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class = "header_inner">
      <%= link_to image_tag("osituke2.png", size: '100x100', alt: "ositukeロゴ"),hobbies_path %>
    </div>
    <ul class="navbar-nav mx-auto">
      <li><%= link_to "趣味一覧",     hobbies_path,                    class: "nav-link white" %></li>
      <li><%= link_to "ランキング",   rank_index_hobbies_path,         class: "nav-link white" %></li>
      <li><%= link_to "ジャンル一覧", genres_path,                     class: "nav-link white" %></li>
      <li><%= link_to "タグ一覧",     tags_path,                       class: "nav-link white" %></li>
      <li><%= link_to "ToDoリスト",   to_does_user_path(current_user), class: "nav-link white" %></li>
      <li><%= link_to "下書き",       draft_index_hobbies_path,        class: "nav-link white" %></li>
      <li><%= link_to "マイページ",   user_path(current_user),         class: "nav-link white" %></li>
      <li class= "my-auto">
        <%= link_to notifications_path do %>
          <% if unchecked_notifications.any? %>
            <span class="fa-stack">
              <i class="fa-regular fa-bell fa-stack-2x white"></i>
              <i class="fas fa-circle n-circle fa-stack-1x"></i>
            </span>
            <span class= "yellow">new</span>
          <% else %>
            <i class="fa-regular fa-bell white"></i>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>