<div class="top-color">
  <div class="row text-center">
    <div class="col-md-4 offset-md-4 search_form form-inline">
      <%= render "searches/searchform" %>
    </div>
    <div class="col-md-2 offset-md-2">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg band-color p-0">
  <div class ="header_inner" data-toggle="tooltip" data-original-title="みんなの投稿一覧">
    <%= link_to image_tag("osituke2.png", size: '100x100', alt: "ositukeロゴ"),hobbies_path %>
  </div>
  <button class="navbar-toggler col-1 offset-9 navbar-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item mx-auto" data-toggle="tooltip" data-original-title="みんなの投稿一覧"><%= link_to "趣味",     hobbies_path,                    class: "nav-link white" %></li>
      <li class="nav-item mx-auto" data-toggle="tooltip" data-original-title="月間ナイス趣味ランキング"><%= link_to "ランキング",   rank_index_hobbies_path,         class: "nav-link white" %></li>
      <li class="nav-item mx-auto" data-toggle="tooltip" data-original-title="ジャンル絞り込み検索"><%= link_to "ジャンル", genres_path,                     class: "nav-link white" %></li>
      <li class="nav-item mx-auto" data-toggle="tooltip" data-original-title="タグ絞り込み検索"><%= link_to "タグ",     tags_path,                       class: "nav-link white" %></li>
      <li class="nav-item mx-auto" data-toggle="tooltip" data-original-title="ToDoリスト一覧"><%= link_to "ToDo",   to_does_user_path(current_user), class: "nav-link white" %></li>
      <li class="nav-item mx-auto" data-toggle="tooltip" data-original-title="下書き一覧"><%= link_to "下書き",       draft_index_hobbies_path,        class: "nav-link white" %></li>
      <li class="nav-item mx-auto" data-toggle="tooltip" data-original-title="マイページ"><%= link_to "マイページ",   user_path(current_user),         class: "nav-link white" %></li>
      <li class="nav-item my-auto mx-auto" data-toggle="tooltip" data-original-title="通知一覧">
        <%= link_to notifications_path do %>
          <% if unchecked_notifications.any? %>
            <span class="fa-stack">
              <i class="fa-regular fa-bell fa-stack-2x white"></i>
              <i class="fas fa-circle n-circle fa-stack-1x"></i>
            </span>
            <span class= "yellow">new</span>
          <% else %>
            <i class="fa-regular fa-bell white"></i>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>