<!DOCTYPE html>
<html>

  <head>
    <title>OsitukeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/09744899be.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100 wall">
    <header class="fixed-top" id="header"><%= render 'layouts/header' %></header>
    <main class= "mb-auto mt-5 pt-4"><%= yield %></main>
    <footer><%= render 'layouts/footer' %></footer>
  </body>
  <script>
    function FixedAnime() {
    var headerH = $('#header').outerHeight(true);
    var scroll = $(window).scrollTop();
    if (scroll >= headerH){
        $('#header').addClass('fixed');
      }else{
        $('#header').removeClass('fixed');
      }
    }

    // 画面をスクロールをしたら動かしたい場合の記述
    $(window).scroll(function () {
      FixedAnime();
    });

    // ページが読み込まれたらすぐに動かしたい場合の記述
    $(window).on('load', function () {
      FixedAnime();
    });
  </script>
</html>
